@model Model.Reporte

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reporte</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        
     @if (FrontUser.TienePermiso(RolesPermisos.puede_asignar_tarea)) {
       <div class="form-group">
            @Html.LabelFor(model => model.UserId, "Asignar Tarea A:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })              
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
        }
               

        <div class="form-group">
            <label for="SalaId" class="control-label col-md-2">Salas</label>
            <div class="col-md-10">
                <select id="SalaId" name="SalaId"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="EquipoId" class="control-label col-md-2">Equipos</label>
            <div class="col-md-10">
                <select id="EquipoId" name="EquipoId"></select>
            </div>
        </div>
        

        @*<div class="form-group">
            @Html.LabelFor(model => model.EquipoId, "Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EquipoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipoId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/assets/js/CrearReporte.js"></script>